# Cache
## Project
build/
dist/
*.egg-info

## MacOS
.DS_Store

## Editors
.idea/
.vscode/

## Python
__pycache__/
*.pyc

# Keys & sets
keys*
.env*

# Data
*.log
*.err
tests/files/data/

# Libraries

# Environments
env/

# Copyright
